body {

}

#titulo {
    color: blue;
}

p {
    color: red;
}

.texto_verde {
    color: green;
}

.container {
    width: 200px;
    height: 100px;
    background-color: red;
}

.inside {
    width: 50%;
    height: 50%;
    background-color: blue;
} 